body{
    background-color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: black;
    position: relative;
}
.container{
    height: 400px;
    width: 400px;
    background-color: coral;
    border-radius: 3%;
    position: absolute;
    user-select: none;
}
header{
    font-size: 30px;
    height: 80px;
    border-bottom: 2px solid aliceblue;
    display: flex;
    justify-content:center;
    align-items: center;
}
.matter{
    font-size: 20px;
    margin-left: 8px;
    margin-top: 8px;
}